@import '../global/mixins.scss';

.w-second-block {
    padding: 2rem 4rem;
    background-color: #FFFFFF;



    @include respond-from-large {
        padding: 2rem 10rem;

    }


    &__chapter {
        padding: 0 0rem;
        text-align: justify;

        @include respond-from-medium {
            text-align: center;
        }

    }

    &__steps {
        padding-top: 2rem;

        @include respond-from-medium {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 4rem;

        }

        &__step {

            &__section-title {
                display: flex;
                align-items: center;
                height: 6rem;

                @include respond-from-medium {
                    height: 5rem;
                }

                &__image {
                    max-height: 5rem;
                }

                &__title {
                    margin-left: 1rem;
                }
            }

            &__section-body {
                text-align: justify;

            }
        }
    }

}