@import '../global/mixins.scss';

.w-budget {
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, rgb(253, 171, 107, 0.8));
    padding: 2rem 4rem;
    padding-top: 3rem;
    overflow-x: hidden;

    :last-child {
        margin-bottom: 0;
    }

    &__section-title {
        text-align: center;

        &__title {}

        &__subtitle {
            text-align: center;
            text-wrap: balance;

        }
    }

    &__section-form {
        display: block;
        text-align: center;

        &__form {
            display: flex;
            flex-direction: column;
            max-width: 25rem;
            margin: auto;

            &__field {
                margin-bottom: 1rem;
            }

            &__button {
                background-color: #13386e;

                &:hover {
                    background-color: #517ec2;

                }
            }
        }
    }
}