@import '../global/mixins.scss';

.w-first-block {
  padding: 2rem 4rem;
  background-color: #FFFFFF;
  background-image: linear-gradient(to bottom, rgb(137, 254, 254, 0.8), rgba(255, 255, 255, 0));
  overflow-x: hidden;

  &__body {
    animation: slideInFromLeft 2s forwards;

    &__link {
      max-width: 10px;
    }

    @include respond-from-large {
      padding: 3rem 4rem;
    }

    &__image {
      width: 10rem;

    }

    &__section-text {
      width: 100%;
      text-align: justify;

      @include respond-from-xlarge {
        width: 40%;
      }

      &__title {}

      &__subtitle {}
    }

    &__button {
      background-color: #FE760E;
      margin-top: 1rem;

      &:hover {
        background-color: #fdab6b;
      }

      &__icon {
        justify-items: center;
        padding-left: 1rem;
      }
    }
  }

  &__installation-image {
    margin-top: 2rem;
    animation: slideInFromRight 2s forwards;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to bottom, transparent, white);

    @include respond-from-xlarge {
      margin-top: 0;
      position: absolute;
      top: 6rem;
      width: 40%;
      right: 4rem;
    }
  }
}